if(user)
  div(class='review-form__container')
    a(class='review-form__link') Write a Review
    form(action=`/api/spots/reviews/`, method="post") 
      div(class='review-form__item')
        label Title
        input(type="text" name="title" required=true)
      div(class='review-form__item')
        label(id='review-form__stars-label') Please select a star rating
        select(type="text" name="stars"  required=true)
          option(value='5') 5
          option(value='4') 4
          option(value='3') 3
          option(value='2') 2
          option(value='1') 1
      div(class='review-form__item')
        label(id='review-form__body-label') Review
        textarea(name="body" required=true)
      input(type="hidden" name="spotId" value=spot.id)
      input(type="hidden" name="_csrf" value=csrf)
      button(type="submit" class="review-form__submit") Submit Review
