div(class="user-reviews")
  div(class="user-reviews__new")
    if(user)
      h2 Write a review
      form(action="/spot/reviews" method="post" id="userReviewForm")
        //- input(type="hidden" name="userId" value=spot.Reviews.User.id)
        input(type="hidden" name="spotId" value=spot.id)
        label(for="stars") Select your rating
        select(name="stars")
          option 5
          option 4
          option 3
          option 2
          option 1
        label(for="title") Title of review
        input(type="text" name="title")
        label(for="body") Write your review
        textarea(type="text" name="body")
        button(type="submit" id="newUserReview" class="user-reviews__new-user-review") Add Review
  
  h2 What people are saying about #{spot.name}  
    ion-icon(name="chatbox")
  div(class="user-reviews__list")
    each review in spot.Reviews
      div(class="user-review")
        div(class="user-review__user")
          div(class="user-review__avatar")=review.User.username.slice(0,1).toUpperCase()
          p=review.User.username
        div(class="user-review__review")
          div(class="user-review__rating")=review.stars
          p(class="user-review__date")= `Reviewed on: ${new Date(Date.parse(review.createdAt)).toDateString()}`
          h3(class="user-review__title")=review.title
          p(class="user-review__body")=review.body