div(class="user-reviews")
  div(class="user-reviews__new")
  
  h2 What people are saying about #{spot.name}  
    ion-icon(name="chatbox")
  div(class="user-reviews__list")
    each review in spot.Reviews
      div(class="user-review" id=`review__${review.id}`)
        div(class="user-review__user")
          div(class="user-review__avatar")=review.User.username.slice(0,1).toUpperCase()
          p=review.User.username
        div(class="user-review__review")
          div(class="user-review__rating")=review.stars
          p(class="user-review__date")= `Reviewed on: ${new Date(Date.parse(review.createdAt)).toDateString()}`
          h3(class="user-review__title")=review.title
          p(class="user-review__body")=review.body
        if(review.User.id === userId)
          div(class="user-review__buttons")
            button(type='button' id='editReviewBtn' reviewId=review.id ) 
              ion-icon(name="create")
            button(type='button' id='deleteReviewBtn' reviewId=review.id spotId=spot.id ) 
              ion-icon(name="close-circle-outline")