extends ../auth-splash.pug

block form

  a(href="/login" class="auth-splash__tab--inactive login-tab") Login
  a(href="/signup" class="auth-splash__tab--active auth-splash-tab") Sign up
  form(id="authForm" class="auth-splash__form" action="/signup", method="post")
    div(id="submittingOverlay" class="auth-splash__submitting--hide")
      div(class="auth-splash__submitting-icon")
    fieldset
      div(class="auth-splash__form-group")
        label(for="firstName") First name
        input(type="text" name="firstName" value=prefill.firstName)
        - var firstNameValid = messages.firstName.length ? "invalid" : "valid";
        if messages.firstName.length
          div(id="firstNameMessageIcon" class="auth-splash__validation-icon--" + firstNameValid)
            ion-icon(name="alert-circle-outline")
          ul(id="firstNameMessageList" class="auth-splash__form-messages--hide")
            each message in messages.firstName
              li= message
      div(class="auth-splash__form-group")
        label(for="lastName") Last name
        input(type="text" name="lastName" value=prefill.lastName)
        - var lastNameValid = messages.lastName.length ? "invalid" : "valid";
        if messages.lastName.length
          div(id="lastNameMessageIcon" class="auth-splash__validation-icon--" + lastNameValid)
            ion-icon(name="alert-circle-outline")
          ul(id="lastNameMessageList" class="auth-splash__form-messages--hide")
            each message in messages.lastName
              li= message
      div(class="auth-splash__form-group")
        label(for="username") Username
        input(type="text" name="username" required=true value=prefill.username)
        - var usernameValid = messages.username.length ? "invalid" : "valid";
        if messages.username.length
          div(id="usernameMessageIcon" class="auth-splash__validation-icon--" + usernameValid)
            ion-icon(name="alert-circle-outline")
          ul(id="usernameMessageList" class="auth-splash__form-messages--hide")
            each message in messages.username
              li= message
      div(class="auth-splash__form-group")
        label(for="email") Email
        input(type="email" name="email" required=true value=prefill.email)
        - var emailValid = messages.email.length ? "invalid" : "valid";
        if messages.email.length
          div(id="emailMessageIcon" class="auth-splash__validation-icon--" + emailValid)
            ion-icon(name="alert-circle-outline")
          ul(id="emailMessageList" class="auth-splash__form-messages--hide")
            each message in messages.email
              li= message
      div(class="auth-splash__form-group")
        label(for="password") Password
        input(type="password" name="password" required=true)
        - var passwordValid = messages.password.length ? "invalid" : "valid";
        if messages.password.length
          div(id="passwordMessageIcon" class="auth-splash__validation-icon--" + passwordValid)
            ion-icon(name="alert-circle-outline")
          ul(id="passwordMessageList" class="auth-splash__form-messages--hide")
            each message in messages.password
              li= message
      div(class="auth-splash__form-group")
        label(for="confirmPassword") Confirm password
        input(type="password" name="confirmPassword" required=true)
        - var confirmPasswordValid = messages.confirmPassword.length ? "invalid" : "valid";
        if messages.confirmPassword.length
          div(id="confirmPasswordMessageIcon" class="auth-splash__validation-icon--" + confirmPasswordValid)
            ion-icon(name="alert-circle-outline")
          ul(id="confirmPasswordMessageList" class="auth-splash__form-messages--hide")
            each message in messages.confirmPassword
              li= message
      input(type="hidden" name="_csrf" value=csrf)
      button(type="submit") Sign up
