extends layout

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- link(rel="icon" type='image/png' href="../public/images/logo_32.ico")
  script(src="/javascripts/index.js" content-type="text/javascript" type="module")
  meta(property="og:title" content="NiceBytes")
  meta(property="og:website" content="website")
  meta(property="og:url" content="https://nice-bytes.herokuapp.com/")
  meta(name="image" property="og:image" content="/images/nice-bytes-thumbnail.png")
  meta(name="description" property="og:description" content="A clone of the popular website GoodReads where users can rate and share restaurants.")
  meta(name="author" content="Austin Howard, Ben Bolthouse, Reed Norton, & Ryan Maloney")

block content
  div(class="page home-page")
    div(id="pageAwaiting" class="page__awaiting--show")
      div(class="page__awaiting-spinner")
    div(class="page-content page-width")
      h1 Find your new favorite spot
      div(class="spot-list")
        each spot in spots
          a(href=`/spots/${spot.id}`)
            div(class="spot-list__item")
              img(src=`/images/spots/240/${spot.id}_default.png`)
              div(class="spot-list__item-describe")
                h2=spot.name
                p(class="spot-list__item-description")=spot.description
                p(class="spot-list__item-type")= `Type: ${spot.type}`
              div(class="spot-list__item-controls")
                div(class="rating")
                  span=spot.stars
                  ion-icon(name="star")
