extends layout

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class="page home-page")
    div(class="page-content page-width")
      h1 Find your new favorite spot
      div(class="spot-list")
        each spot in spots
          - var spotHref = `/spots/${spot.id}`
          div(class="spot-list__item")
            img(src=spot.imgUrl)
            div(class="spot-list__item-describe")
              a(href=spotHref)
                h2=spot.name
              div(class="spot-list__item-rating")
                div(class="spot-list__item-rating-fill")
                div(class="spot-list__item-rating-mask")
              p(class="spot-list__item-description")=spot.description
              p(class="spot-list__item-type")= `Type: ${spot.type}`
