extends ./layout.pug

block content
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet")
  link(rel='stylesheet' href='/stylesheets/auth-splash.css')
  script(src="/javascripts/auth-splash.js")
  div(class="page")
    div(class="page-content page-width")
      div(class="auth-splash")
        div(class="auth-splash__panel-1")
          h1 Violá!
          p(class="sub-text") Just like that...1,654 local restaurants.
          p
        div(class="auth-splash__panel-2")
          a(href="/users/login" class="auth-splash__tab--active login-tab") Login
          a(href="/users/signup" class="auth-splash__tab--inactive auth-splash-tab") Sign up
          form(id="authForm" class="auth-splash__form" action="/users/login", method="post")
            div(id="submittingOverlay" class="auth-splash__submitting--hide")
              div(class="auth-splash__submitting-icon")
            fieldset
              div(class="auth-splash__form-group")
                label(for="firstName") Email
                input(type="email" name="email" required=true value=prefill.email)
                - var emailErrorState = errorMessages.email.length ? "invalid" : "valid";
                if errorMessages.email.length
                  div(id="emailMessageIcon" class="auth-splash__validation-icon--" + emailErrorState)
                  ul(id="emailMessageList" class="auth-splash__form-messages--hide")
                    each message in errorMessages.email
                      li= message
              div(class="auth-splash__form-group")
                label(for="firstName") Password
                input(type="password" name="password" required=true)
                - var passwordErrorState = errorMessages.password.length ? "invalid" : "valid";
                if errorMessages.password.length
                  div(id="passwordMessageIcon" class="auth-splash__validation-icon--" + passwordErrorState)
                  ul(id="passwordMessageList" class="auth-splash__form-messages--hide")
                    each message in errorMessages.password
                      li= message
              //- CSRF protection field
              input(type="hidden" name="_csrf" value=csrfToken)
              button(type="submit") Login