extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/spots.css")

block content
  if spot
    div(class= 'spot-review__parent')
      img(src= `${spot.imgUrl}` width="100px" height="100px")
      h1= spot.name
      h2= spot.type
      h3= spot.description
      div(class= 'spot-review__box')
        h2 Reviews
        each review in reviews
          div(class= 'spot-review__wrapper')
            p= review.title
            p= review.body
            p= review.stars
        button Add Review
        button Mark As Visted
        button Want to Visit? 
